In [3]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

realtor_data = "resources/Realtor Data.csv"
realtor_file_df = pd.read_csv(realtor_data, encoding="ISO-8859-1")
realtor_file_df
# data_types = realtor_file_df.dtypes
# data_types

,status,bed,bath,acre_lot,city,state,zip_code,house_size,prev_sold_date,price
0,for_sale,3.0,2.0,0.12,Adjuntas,Puerto Rico,601.0,920.0,NaN,105000.0
1,for_sale,4.0,2.0,0.08,Adjuntas,Puerto Rico,601.0,1527.0,NaN,80000.0
2,for_sale,2.0,1.0,0.15,Juana Diaz,Puerto Rico,795.0,748.0,NaN,67000.0
3,for_sale,4.0,2.0,0.10,Ponce,Puerto Rico,731.0,1800.0,NaN,145000.0
4,for_sale,6.0,2.0,0.05,Mayaguez,Puerto Rico,680.0,NaN,NaN,65000.0
...,...,...,...,...,...,...,...,...,...,...
1401061,for_sale,NaN,NaN,155.00,Perrysburg,New York,14129.0,NaN,NaN,325000.0
1401062,for_sale,4.0,2.0,0.36,Silver Creek,New York,14136.0,2026.0,2000-09-01,187900.0
1401063,for_sale,10.0,4.0,0.43,Brocton,New York,14716.0,4802.0,1994-12-01,120000.0
1401064,for_sale,2.0,2.0,0.14,Dunkirk,New York,14048.0,1568.0,2003-04-15,92000.0
1401065,for_sale,5.0,2.0,0.14,Angola,New York,14006.0,1908.0,2016-01-12,99900.0

In [5]:
nan_df = realtor_file_df.isna().any(axis=1)
nan_df

0           True
1           True
2           True
3           True
4           True
           ...
1401061     True
1401062    False
1401063    False
1401064    False
1401065    False
Length: 1401066, dtype: bool

In [6]:
clean_df = realtor_file_df.dropna()
clean_df

,status,bed,bath,acre_lot,city,state,zip_code,house_size,prev_sold_date,price
829,for_sale,7.0,3.0,0.09,Dorado,Puerto Rico,949.0,1192.0,2019-06-28,110000.0
3380,for_sale,7.0,3.0,0.09,Dorado,Puerto Rico,949.0,1192.0,2019-06-28,110000.0
5083,for_sale,7.0,3.0,0.09,Dorado,Puerto Rico,949.0,1192.0,2019-06-28,110000.0
5387,for_sale,7.0,3.0,0.09,Dorado,Puerto Rico,949.0,1192.0,2019-06-28,110000.0
9053,for_sale,7.0,3.0,0.09,Dorado,Puerto Rico,949.0,1192.0,2019-06-28,110000.0
...,...,...,...,...,...,...,...,...,...,...
1401060,for_sale,3.0,1.0,0.10,Dunkirk,New York,14048.0,1002.0,2017-04-03,29900.0
1401062,for_sale,4.0,2.0,0.36,Silver Creek,New York,14136.0,2026.0,2000-09-01,187900.0
1401063,for_sale,10.0,4.0,0.43,Brocton,New York,14716.0,4802.0,1994-12-01,120000.0
1401064,for_sale,2.0,2.0,0.14,Dunkirk,New York,14048.0,1568.0,2003-04-15,92000.0
1401065,for_sale,5.0,2.0,0.14,Angola,New York,14006.0,1908.0,2016-01-12,99900.0

In [7]:
new_york_df = realtor_file_df[realtor_file_df['city'] == 'New York']
new_york_df

,status,bed,bath,acre_lot,city,state,zip_code,house_size,prev_sold_date,price
465089,for_sale,2.0,2.0,NaN,New York,New York,10021.0,NaN,NaN,1185000.0
465111,for_sale,12.0,14.0,NaN,New York,New York,10014.0,8528.0,NaN,29995000.0
465513,for_sale,2.0,2.0,NaN,New York,New York,10022.0,1425.0,NaN,895000.0
465515,for_sale,1.0,2.0,NaN,New York,New York,10005.0,1166.0,2014-01-10,985000.0
465516,for_sale,1.0,1.0,NaN,New York,New York,10065.0,761.0,2020-08-18,810000.0
...,...,...,...,...,...,...,...,...,...,...
1117009,for_sale,NaN,1.0,NaN,New York,New York,11432.0,NaN,2015-04-09,150000.0
1117465,for_sale,4.0,3.0,NaN,New York,New York,11375.0,2200.0,2021-10-18,1825500.0
1117972,for_sale,1.0,1.0,NaN,New York,New York,11375.0,NaN,2006-09-13,350000.0
1118260,for_sale,4.0,3.0,NaN,New York,New York,11423.0,NaN,1987-06-12,990000.0
1398091,for_sale,3.0,2.0,0.07,New York,New York,14094.0,1439.0,2016-01-11,119000.0

In [18]:
clean_df_newyork = new_york_df.dropna(subset=['prev_sold_date', 'house_size'])
clean_df_newyork

,status,bed,bath,acre_lot,city,state,zip_code,house_size,prev_sold_date,price
465515,for_sale,1.0,2.0,NaN,New York,New York,10005.0,1166.0,2014-01-10,985000.0
465516,for_sale,1.0,1.0,NaN,New York,New York,10065.0,761.0,2020-08-18,810000.0
465608,for_sale,1.0,1.0,NaN,New York,New York,10016.0,715.0,2013-12-13,865000.0
465613,for_sale,1.0,1.0,NaN,New York,New York,10016.0,650.0,2012-09-13,760000.0
465616,for_sale,2.0,3.0,NaN,New York,New York,10001.0,1459.0,2016-04-26,2685000.0
...,...,...,...,...,...,...,...,...,...,...
1110169,for_sale,3.0,3.0,NaN,New York,New York,11235.0,2000.0,1992-06-09,999999.0
1110235,for_sale,3.0,3.0,NaN,New York,New York,11693.0,1420.0,2020-03-24,599000.0
1110339,for_sale,3.0,2.0,NaN,New York,New York,11692.0,2176.0,2015-01-15,450000.0
1117465,for_sale,4.0,3.0,NaN,New York,New York,11375.0,2200.0,2021-10-18,1825500.0
1398091,for_sale,3.0,2.0,0.07,New York,New York,14094.0,1439.0,2016-01-11,119000.0